@tailwind base;
@tailwind components;
@tailwind utilities;


/* Circle */

mark {
    position: relative;
    background-color: #fff;
}

mark:after {
    border: .25em solid red;
    border-top: none;
    border-radius: 1.5em 1em 2em 1.5em;
    bottom: -.3em;
    content: '';
    left: -.3em;
    position: absolute;
    right: -.3em;
    top: -.1em;
}

mark:before {
    border-top: .25em solid red;
    border-radius: .5em;
    content: '';
    height: 1em;
    left: 0;
    position: absolute;
    top: -.3em;
    transform: rotate(-10deg);
    width: 2em;
}